<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="vue.js"></script>
    <style type="text/css">
      
    </style>
</head>
<body>
    <div id="app">
        <template v-if="show">
            <p>This is show</p>
            <p >You can see me! <span>Hello!</span></p>
        </template>
        <p v-else>Now you see me!</p>
        <p>Do you also see me?</p>
        <button @click="show = !show">Switch</button>
        <br><br><br>

        <ul>
            <li v-for="(ingredient, i) in ingredients">{{ i }}. {{ ingredient }}</li>
        </ul>
    </div>
    <script src="main.js"></script>

</body>
</html>